# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# misc
.DS_Store
*.pem
Thumbs.db

# .env
.env.keys
.env.local

# turbo
.turbo

# vercel
.vercel

# docker
**/.docker/data
**/.docker/logs

# logs
*.log

# project mcp config
.roo/mcp.json